.cart-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 22.5rem;
	height: 100% !important;
	background-color: #f1f7f8;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	z-index: 1;
}

.cart-menu-section {
	width: 100%;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin: 0 auto;
}

.cart-menu-header {
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.cart-counter-text-indicator {
	width: auto;
	padding: 0.25rem 0.5rem;
}

.cart-counter-text-indicator .cart-counter {
	position: relative;
	background-color: transparent;
	padding: 0;
	margin-left: 1rem;
}

.cart-close-button {
	flex-basis: 15%;
}

.cart-close-button .close-button {
	border: none;
	background-color: transparent;
	width: 100%;
	padding: 0.125rem 0.25rem;
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0 auto;
}

.order-list {
	height: 100%;
	overflow-y: auto;
}

.order-list-item {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	border: none;
	margin-bottom: 0.25rem;
}

.cart-item {
	position: relative;
	align-items: center;
	width: 100%;
	max-width: 100%;
	border: 0.0625rem solid #110836;
	border-radius: 0.75rem;
}

.cart-item-content {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.25rem;
	margin: 0 auto;
}

.cart-item-img-col img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	margin: 0 auto;
}

.cart-item-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 1rem;
	cursor: pointer;
}

.cart-item-price-control {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 100%;
	padding: 0.25rem 0;
	margin: 0 auto;
}

.cart-item-quantity {
	flex-basis: 45%;
	width: 100%;
	padding: 0;
}

.cart-item-price {
	flex-basis: 20%;
	width: 100%;
	font-weight: 500;
}

.remove-cart-item-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.25rem 0.5rem;
}

.remove-cart-item-btn:hover,
.remove-cart-item-btn:focus {
	color: #e83c3c;
}

.total-display {
	width: 100%;
	padding: 0.25rem 0;
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
}

.checkout-btn-row {
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
