.pagination {
	flex-basis: 80%;
	width: 100%;
	padding: 0 0.75rem;
}

.page-link {
	background-color: #07112f;
	color: #fbfcfe;
	padding: 0.5rem 1rem;
}

.select-page-size-container {
	flex-basis: 15%;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.select-page-size {
	border-radius: 0.75rem;
	padding: 0.25rem 0.5rem;
	margin-right: 0.25rem;
}
