.price-range-container {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}

.price-range-input-row {
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0;
}

.price-range-input {
	width: 45%;
}

.price-range-input input {
	width: 100%;
	padding: 0.25rem 0.5rem;
}
