.product-details-page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0;
}

.product-details-header {
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0.5rem;
	margin: 0 auto 0.5rem;

	&-section {
		width: 100%;
		max-width: 100%;
	}
}

.main-product-details {
	flex: 2 0 auto;
	padding: $spacing-sm;

	@media (min-width: 992px) and (max-width: 1439px) {
		flex-basis: 55%;
	}

	@media (min-width: 1440px) {
		flex-basis: 61%;
	}
}

.purchase-controls {
	flex: 1 0 auto;
	padding: $spacing-sm;

	@media (max-width: 991px) {
		position: fixed;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 5rem;
		background-color: $slategray;
	}

	@media (min-width: 992px) and (max-width: 1439px) {
		flex-basis: 40%;
	}

	@media (min-width: 1440px) {
		flex-basis: 32%;
	}
}

.related-products-section {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0.5rem;
	margin: 0 auto;
}
