.form {
	width: 100%;
	max-width: 100%;
	padding: $spacing-base;
	margin: 0 auto;

	&-input-section,
	&-submit-section {
		width: 100%;
		max-width: 100%;
		padding: $spacing-xxs;
		margin: 0 auto;
	}

	&-input {
		width: 100%;
		padding: $spacing-sm $spacing-base;
	}
}

.invalid-feedback {
	display: block;
}
