.pagination {
	flex-basis: 80%;
	width: 100%;
	padding: 0 $spacing-md;
}

.page-link {
	background-color: $slategray;
	color: $white;
	padding: $spacing-sm $spacing-base;
}

.select-page-size {
	border-radius: $spacing-md;
	padding: $spacing-xxs $spacing-sm;
	margin-right: $spacing-xxs;
	&-container {
		flex-basis: 15%;
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}
