.products-listings-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
	grid-template-rows: auto;
	width: 100%;
	max-width: 100%;
	gap: $spacing-xxs;
	justify-content: center;
	align-content: center;
	padding: $spacing-sm $spacing-base;
	margin: 0 auto;
}

.product-card {
	border: $spacing-primary solid $white;
	border-radius: $spacing-md;
	width: 100%;
	min-height: 35rem;
	height: 35rem;
	max-height: 35rem;
	cursor: pointer;

	&-image {
		width: 100%;
		max-width: 100%;
		height: 100%;
		border-top-left-radius: $spacing-sm;
		border-top-right-radius: $spacing-sm;
		margin: 0 auto;
	}
	&-body {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}
	&-title {
		font-size: $font-size-lg;
		font-weight: $ubuntu-medium;
		color: $default-text-colour;
		width: 100%;
		padding: $spacing-xxs 0;
	}
	&-price {
		font-size: $font-size-xl;
		font-weight: $ubuntu-medium;
		color: $default-text-colour;
		padding: $spacing-sm 0;
	}
	&-category {
		font-weight: $ubuntu-medium;
		color: $slategray;
		text-transform: capitalize;
	}
	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		border: none;

		& .add-to-cart-btn {
			width: 100%;
		}
	}
}

.card-image-placeholder {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 16rem;
	padding: $spacing-sm $spacing-base;
}
