.search {
	&-bar {
		position: relative;
		width: 100%;
		height: 100%;
		padding: $spacing-xxs $spacing-base;
		text-align: center;
	}
}

.search-icon {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 $spacing-xxl;
	transform: translate(0, 48%);
	color: $input-placeholder-text-colour;
	z-index: 1;
}

.search-input {
	border: $spacing-primary solid $white;
	border-radius: $spacing-sm;
	width: 100%;
	padding: $spacing-sm ($spacing-xxl + 0.5rem);
	margin: 0 auto;

	&::-webkit-input-placeholder {
		color: $input-placeholder-text-colour;
		font-weight: $ubuntu-medium;
	}

	&::-moz-placeholder {
		color: $input-placeholder-text-colour;
		font-weight: $ubuntu-medium;
	}

	&:-ms-input-placeholder {
		color: $input-placeholder-text-colour;
		font-weight: $ubuntu-medium;
	}

	&::-ms-input-placeholder {
		color: $input-placeholder-text-colour;
		font-weight: $ubuntu-medium;
	}

	&::placeholder {
		color: $input-placeholder-text-colour;
		font-weight: $ubuntu-medium;
	}
}
